/*--------------------------------------------------
* GLOBAL STYLES
* CAROUSEL STYLES
* 
--------------------------------------------------*/

/*--------------------------------------------------GLOBAL STYLES START--------------------------------------------------*/
@font-face
{
    font-family: 'robotoblack';
    src: url('../Fonts/roboto-black-webfont.eot');
    src: url('../Fonts/roboto-black-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/roboto-black-webfont.woff2') format('woff2'), url('../Fonts/roboto-black-webfont.woff') format('woff'), url('../Fonts/roboto-black-webfont.ttf') format('truetype'), url('../Fonts/roboto-black-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'robotobold';
    src: url('../Fonts/roboto-bold-webfont.eot');
    src: url('../Fonts/roboto-bold-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/roboto-bold-webfont.woff2') format('woff2'), url('../Fonts/roboto-bold-webfont.woff') format('woff'), url('../Fonts/roboto-bold-webfont.ttf') format('truetype'), url('../Fonts/roboto-bold-webfont.svg#robotobold') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'robotomedium';
    src: url('../Fonts/roboto-medium-webfont.eot');
    src: url('../Fonts/roboto-medium-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/roboto-medium-webfont.woff2') format('woff2'), url('../Fonts/roboto-medium-webfont.woff') format('woff'), url('../Fonts/roboto-medium-webfont.ttf') format('truetype'), url('../Fonts/roboto-medium-webfont.svg#robotomedium') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'robotoregular';
    src: url('../Fonts/roboto-regular-webfont.eot');
    src: url('../Fonts/roboto-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/roboto-regular-webfont.woff2') format('woff2'), url('../Fonts/roboto-regular-webfont.woff') format('woff'), url('../Fonts/roboto-regular-webfont.ttf') format('truetype'), url('../Fonts/roboto-regular-webfont.svg#robotoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'robotothin';
    src: url('../Fonts/roboto-thin-webfont.eot');
    src: url('../Fonts/roboto-thin-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/roboto-thin-webfont.woff2') format('woff2'), url('../Fonts/roboto-thin-webfont.woff') format('woff'), url('../Fonts/roboto-thin-webfont.ttf') format('truetype'), url('../Fonts/roboto-thin-webfont.svg#robotothin') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face
{
    font-family: 'robotolight';
    src: url('../Fonts/roboto-light-webfont.eot');
    src: url('../Fonts/roboto-light-webfont.eot?#iefix') format('embedded-opentype'), url('../Fonts/roboto-light-webfont.woff2') format('woff2'), url('../Fonts/roboto-light-webfont.woff') format('woff'), url('../Fonts/roboto-light-webfont.ttf') format('truetype'), url('../Fonts/roboto-light-webfont.svg#robotolight') format('svg');
    font-weight: normal;
    font-style: normal;
}

html
{
    position: relative;
    min-height: 100%;
}
body
{
    font-family: Robotoregular;
    font-size: 16px;
    margin-bottom: 60px;
}
.footer
{
    position: absolute;
    bottom: 0;
    width: 100%; /* Set the fixed height of the footer here */
    height: auto; /*60px*/
    background: #ccc url("../Images/footer-bg.png") no-repeat scroll center top;
}
body > .container-fluid
{
    padding: 0;
}
.container-fluid .text-muted
{
    color: #f5f5f5;
    font-size: 13px;
    margin: 0 0 10px;
    text-align: center;
}

.footer > .container
{
    padding-right: 15px;
    padding-left: 15px;
}

*
{
    padding: 0;
    margin: 0;
}

*:focus
{
    outline: none !important;
}
a
{
    color: #333;
}
a:hover
{
    text-decoration: none;
}

li
{
    line-height: 22px;
    margin: 10px 0;
}

/*--------------------------------------------------CAROUSEL STYLES START--------------------------------------------------*/
.carousel-fade .carousel-inner .item
{
    opacity: 0;
    -webkit-transition-property: opacity;
    -moz-transition-property: opacity;
    -o-transition-property: opacity;
    transition-property: opacity;
}
.carousel-fade .carousel-inner .active
{
    opacity: 1;
}
.carousel-fade .carousel-inner .active.left, .carousel-fade .carousel-inner .active.right
{
    left: 0;
    opacity: 0;
    z-index: 1;
}
.carousel-fade .carousel-inner .next.left, .carousel-fade .carousel-inner .prev.right
{
    opacity: 1;
}
.carousel-fade .carousel-control
{
    z-index: 2;
}

.slide1
{
    background: #fff url("../Images/slide01.jpg") no-repeat scroll center center / cover;
    background: #fff url("../Images/slide01.jpg") no-repeat scroll center center;
}
.slide2
{
    background: #fff url("../Images/slide02.jpg") no-repeat scroll center center / cover;
    background: #fff url("../Images/slide02.jpg") no-repeat scroll center center;
}
.slide3
{
    background: #fff url("../Images/slide03.jpg") no-repeat scroll top left / cover;
    background: #fff url("../Images/slide03.jpg") no-repeat scroll top left;
}
.carousel .carousel-control
{
    visibility: hidden;
}
.carousel:hover .carousel-control
{
    visibility: visible;
}
.carouselCaptionWrapper
{
    background-color: rgba(255, 255, 255, 0.6);
    bottom: 0;
    position: absolute;
    text-align: center;
    width: 100%;
}
.carouselCaptionWrapper .title
{
    font-size: 28px;
}
.carouselCaptionWrapper .caption
{
    font-size: 18px;
}
.carouselCaptionWrapper .caption > span
{
    color: #024282;
}
/*--------------------------------------------------NAVBAR STYLES START--------------------------------------------------*/
.logo1{font-size: 28px;
color:#024282;
text-shadow:0 0 10px #fff;
    font-weight: bold;}
.logo2{font-size: 28px;
color:#F8C301;
text-shadow:0 0 10px #fff;
    font-weight: bold;}
.logo-slogan{color: #eee;
text-transform:capitalize;
text-shadow:0 0 10px #fff;
    display: inline-block;
    font-size: 13px;
	letter-spacing: 1px;
    font-weight: bold;}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus {
    background-color: transparent;
    color: #bbb;
}
.navbar-nav>li{margin:0;}
.navBarShadow
{
    box-shadow: 0 1px 3px 0 #666;
    -moz-box-shadow: 0 1px 3px 0 #666;
    -webkit-box-shadow: 0 1px 3px 0 #666;
}

.navbar-fixed-top
{
    background: #4D4D4D url("../Images/bg1.jpg") repeat scroll 0 0;
    border: none;
}
.navbar-default .navbar-nav > .active > a, .navbar-default .navbar-nav > .active > a:hover, .navbar-default .navbar-nav > .active > a:focus
{
    background-color: transparent;
    color: #46b8da;
	font-weight:bold;
}
.navbar-default .navbar-nav > li > a
{
    color: #bbb;
    -webkit-text-shadow: 0 -2px 0 #333333;
    -moz-text-shadow: 0 -2px 0 #333333;
    text-shadow: 0 -2px 0 #333333;
	padding: 25px 20px;
}
.navbar-right .dropdown-menu {
    right: -1px;
}
.navbar-default .navbar-nav > li > a:hover, .navbar-default .navbar-nav > li > a:focus
{
    color: #D0FFFB;
}
.navbar-default .navbar-brand
{
    /*color: #46b8da;
    color: #fff;
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 2px;*/
    width:80%;
    padding:15px 12px;
}

.navbar-default .navbar-brand:hover, .navbar-default .navbar-brand:focus
{
    color: #fff;
}

.blockContentWrapper
{
    margin: 30px 0;
}

.blockContentWrapper h1
{
    color: #46b8da;
    text-align: center;
}
.blockWrapper
{
    /*border: 2px solid #ccc;*/
    padding: 15px;
    text-align: center;
}
.blockWrapper a
{
    display: block;
}
.blockWrapper a:hover
{
    color: inherit;
}
.blockWrapper a:hover > .blockIcon
{
    opacity: 1;
}
.blockIcon
{
    opacity: 0.6;
}
.blockIcon i
{
    font-size: 46px;
}
.blockTitle
{
    color: #d81614;
    font-weight: bold;
    text-transform: uppercase;
}
.blockCaption
{
}

.parallaxWrapper
{
    background: url(../Images/parallax1.jpg) no-repeat scroll 0 0;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    -webkit-box-shadow: 0 0 4px 3px #333 inset;
    -moz-box-shadow: 0 0 4px 3px #333 inset;
    box-shadow: 0 0 4px 3px #333 inset;
    padding: 25px 15px;
}
.viewPortfolioWrapper
{
    padding: 20px 15px;
    text-align: center;
}
.portfolioTitle
{
    color: #f5f5f5;
    font-size: 24px;
    font-weight: bold;
}
.portfolioContent
{
    color: #ddd;
    font-size: 18px;
    font-style: italic;
}
.brandColor
{
    color: #82fff5;
}

.recentWorksWrapper
{
    margin-bottom: 20px;
    margin-top: 30px;
    text-align: center;
}
.worksTitle
{
    font-size: 24px;
    font-weight: bold;
}
.worksContent
{
    font-size: 18px;
}

.portfolioWrapper
{
    padding: 15px 0;
}
.portfolioContainer
{
    float: none;
    margin: 0 auto;
    padding: 0 0 15px;
    border: 1px solid #ccc;
}
.portfolioContainer:hover
{
    /*border: 1px solid #FF9292;*/
}
.portfolioContainer:hover img
{
    opacity: 1;
}
.portfolio img
{
    opacity: 0.8;
}
.portfolio p
{
    margin: 15px 0;
}

/*--------------------------------------------------FOOTER STYLES START--------------------------------------------------*/
.footer .navbar-brand
{
    color: #d81614;
    display: block;
    float: none;
    font-size: 24px;
    font-weight: bold;
    height: 28px;
    padding: 0 15px;
}
.socialWrapper
{
    text-align: center;
}
.socialWrapper ul
{
    list-style: none;
}
.socialWrapper li
{
    display: inline-block;
}
.socialWrapper a
{
    margin: 6px;
}
address
{
    margin-bottom: 0;
}
.footerAddressWrapper
{
    /*font-size: 14px;*/
    text-align: center;
}
p.footerTitle
{
    /*color: #555;*/
    font-size: 20px;
    font-weight: bold; /*text-transform: uppercase;*/
}
.addressCompany
{
    /*color: #d81614;*/
    font-size: 16px;
    font-weight: bold;
}

.copywriteWrapper
{
    background-color: #4f4f4f;
    margin-top: 20px;
}
.footerReadMore
{
    color: #d81614;
    font-size: 14px;
}
.imgBoxShadow
{
    box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.25) inset;
    -moz-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.25) inset;
    -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.25), 0 10px 20px rgba(0, 0, 0, 0.25) inset;
}
.footerLogoWrapper
{
    text-align: center;
}
.footerLinks
{
    list-style: none;
    margin: 0;
    text-align: center;
}
.footerLinks li
{
    display: inline-block;
}
.footerLinks li a
{
    color: #f5f5f5;
    display: block;
    font-size: 12px;
    margin: 8px 14px;
}
.footerLinks li a:hover
{
    color: #ccc;
}

/*--------------------------------------------------ABOUT US PAGE STYLES START--------------------------------------------------*/
.pageHeading
{
    -moz-text-shadow: 0 -1px 0 #ccc;
    -webkit-text-shadow: 0 -1px 0 #ccc;
    text-shadow: 0 -1px 0 #ccc;
}
.breadCrumbWrapper
{
    list-style: none;
    color: #888;
}
.breadCrumbWrapper li
{
    display: inline-block;
    font-size: 14px;
}
.breadCrumbWrapper a
{
    color: #46b8da;
}
.breadCrumbWrapper a:hover
{
    color: #d81614;
}

.aboutUsWrapper
{
    margin-bottom: 20px;
}
.aboutTitle
{
    font-size: 18px;
    font-weight: bold;
    text-align: center;
}
.aboutWrapper
{
    margin: 20px 0;
}
.aboutWrapper img
{
    margin-bottom: 18px;
    margin: 20px 0;
}
/*--------------------------------------------------OUR WORKS PAGE STYLES START--------------------------------------------------*/
.btnWrapper
{
    text-align: center;
}

.btnWork
{
    border-radius: 0;
    margin: 8px 10px;
    min-width: 120px;
}
.btnWork.active
{
    background-color: #46b8da;
}
.btnWork:hover
{
    background-color: #46b8da;
}

.workWrapper
{
    border: 2px solid #eee;
    border-radius: 7px;
    margin: 12px 0;
    min-height: 250px;
    padding-top: 10px;
    text-align: center;
}
.workWrapper > img
{
    min-height: 170px;
    margin: 0 auto;
}
.workTitle
{
    font-size: 14px;
    font-weight: bold;
    margin: 15px 0;
}
/*--------------------------------------------------TESTIMONIALS PAGE STYLES START--------------------------------------------------*/
.testi-wrap
{
    border: 1px solid #7a8289;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    position: relative;
}
.testi-wrap:before, .testi-wrap:after
{
    content: '';
    position: absolute;
    left: 60px;
    top: 100%;
}
.testi-wrap:before
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 38px 0 0;
    border-color: #7a8289 transparent transparent transparent;
}
.testi-wrap:after
{
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 38px 38px 0 0;
    border-color: #ffffff transparent transparent transparent;
    margin: -1px 0 0 1px;
}
cite
{
    display: inline-block;
    font-size: 14px;
    font-style: normal;
    margin: 45px 0 0 20px;
}
cite span
{
    color: #d81614;
    font-size: 16px;
    font-weight: 700;
}

blockquote:before
{
    content: '"';
    font: 132px/140px 'sans-serif';
    left: 15px;
    position: absolute;
    top: 0;
    color: rgba(198, 198, 198, 0.24);
}
blockquote
{
    border: none;
    padding: 20px 20px 20px 30px;
    margin-top: 10px;
}
blockquote:before
{
    left: 5px;
}

/*--------------------------------------------------CONTACT US PAGE STYLES START--------------------------------------------------*/
.form-control
{
    border-radius: 0;
    height: 40px;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
label
{
    font-weight: normal;
    display: block;
}

.vertLine
{
    text-align: center;
    margin-top: 35px;
}

.contactAddressWrapper
{
}
.contactAddress
{
    border-bottom: 1px solid #ccc;
    font-weight: bold;
    margin-bottom: 12px;
    padding-bottom: 4px;
}
.contactAddressTitle
{
    font-weight: bold;
}
.contactAddressContent
{
}
.contactTelephone
{
}

select
{
    background-color: #ffffff;
    border: 1px solid #cccccc;
    width: 220px;
}
select, input[type="file"]
{
    height: 30px;
    line-height: 30px;
}

select
{
    border-radius: 0;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: 40px;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
    width: 100%;
}
input[type="radio"], input[type="checkbox"]
{
    line-height: normal;
    margin: 4px 10px 0;
}

/*--------------------------------------------------TERMS OF USE PAGE STYLES START--------------------------------------------------*/
.termsWrapper ul
{
    padding-left: 30px;
}

/*--------------------------------------------------SERVICES PAGE STYLES START--------------------------------------------------*/
.servicesWrapper
{
    margin: 15px 0;
}
.servicesWrapper .col-sm-11{}
.servicesHeaderWrapper
{
    border-bottom: 1px solid #ccc;
    font-size: 22px;
    margin-bottom: 16px;
    padding-bottom: 10px;
}
.servicesHeaderWrapper i.fa
{
     color: #d81614;
    height: 25px;
    width: 14%;
}
.servicesHeaderWrapper span.servicesTitle
{
    display: inline-block;
   
}
.servicesContentWrapper
{
}
